html
    head
        title #{user.name}
        link(href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet")
        style(type="text/css").
            body{
                 font-family: 'Press Start 2P','Segoe UI', Tahoma, Geneva, Verdana, sans-serif
            }
    body
        if fighter != null
            h1 #{fighter.name}
            p #{fighter.story}
        else
            p No such page!